@{
    ViewBag.Title = "Home Page";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/Content/fonts/ionicons.min.css")
<body>
    <main class="page lanidng-page">
        <section>
            <div data-bss-parallax-bg="true" style="height: 600px; background-image: url('@Url.Content("~/Content/img/header.jpeg")');background-position: center;background-size: cover;">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
                            <div style="max-width: 350px;">
                                <h1 class="text-uppercase fw-bold">Bắt Đầu bảo vệ trái đất từ 
                                <span style="color:#4AB67E">DoAN</span></h1>
                                <p class="my-3">Trang web của chúng tôi trao quyền cho bạn hành động. Bằng cách hỗ trợ các dự án của chúng tôi, bạn tạo ra sự khác biệt trong việc bảo vệ hành tinh của chúng ta.</p>
                                <a class="btn btn-primary btn-lg me-2" role="button" href="#"><strong>Đăng Ký</strong></a>
                                <a class="btn btn-outline-success btn-lg" role="button" href="#"><strong>Tìm hiểu thêm</strong></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio-block skills">
            <div class="container">
                <div class="heading">
                    <h2><strong>Hãy chọn chúng tôi</strong></h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="fa fa-smile-o rounded-circle" style="font-size: 36px;background-color: #4AB67E;padding: 20px;color: white;"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Dễ Dàng Sử Dụng</h3>
                                <p class="card-text"><span style="color: rgb(32, 33, 36); background-color: rgb(248, 249, 250);">Trang web của chúng tôi được thiết kế một cách đơn giản. Giúp bạn tìm mọi thứ dễ dàng và các danh mục dự án rõ ràng đảm bảo rằng mọi người đều có thể góp phần bảo vệ môi trường.</span><br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="fa fa-star rounded-circle" style="font-size: 36px;background-color: #4AB67E;padding: 20px;color: white;"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Chia Sẻ Hi Vọng</h3>
                                <p class="card-text"><span style="color: rgb(33, 37, 41);">Hãy tham gia đóng góp tài chính để cùng chia sẻ niềm hy vọng và hành động vì một tương lai tươi sáng hơn. Chúng ta có thể thay đổi thế giới bằng sự đóng góp của mỗi người.</span><br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card special-skill-item border-0">
                            <div class="card-header bg-transparent border-0"><i class="fa fa-building rounded-circle" style="font-size: 36px;background-color: #4AB67E;padding: 20px;color: white;"></i></div>
                            <div class="card-body">
                                <h3 class="card-title">Tổ Chức Phi Lợi Nhuận</h3>
                                <p class="card-text">Trang web của chúng tôi hoạt động dưới hình thức phi lợi nhuận với mục tiêu tận tâm bảo vệ môi trường. Chúng tôi không đặt mục tiêu kiếm lợi nhuận cá nhân mà tập trung vào một mục tiêu cao cả hơn: bảo vệ và duy trì sự cân bằng của môi trường tự nhiên.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background-color:#4AB67E;">
            <div class="container py-4 py-xl-5">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2><strong>Dự Án Nổi Bật Trên DoAn</strong></h2>
                    </div>
                </div>
                <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                    @{ Html.RenderAction("ProjectPartial", "Project");}
                </div>
            </div>
        </section>
        <section style="background-color:#D9D9D9;">
            <div class="container py-4 py-xl-5">
                <div class="row gy-4 gy-md-0">
                    <div class="col-md-6">
                        <div class="p-xl-5 m-xl-5"><img class="rounded img-fluid w-100 fit-cover" style="min-height: 300px;" src="~/Content/img/trust.jpeg"></div>
                    </div>
                    <div class="col-md-6 d-md-flex align-items-md-center">
                        <div style="max-width: 350px;">
                            <h2 class="text-uppercase fw-bold">NIỀM TIN VÀ TRÁCH NHIỆM</h2>
                            <p class="my-3">Chúng tôi luôn đặt niềm tin và trách nhiệm lên hàng đầu. Chúng tôi tin rằng mỗi cá nhân có trách nhiệm bảo vệ môi trường và góp phần vào việc duy trì hành tinh xanh sạch.</p><a class="btn btn-primary btn-lg me-2" role="button" href="#">Bảo Vệ Môi Trường Ngay!</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container py-4 py-xl-5">
                <div class="row mb-5">
                    <div class="col-md-8 col-xl-6 text-center mx-auto">
                        <h2>Phản hồi từ người dùng</h2>
                    </div>
                </div>
                <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-lg-3">
                    <div class="col">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <p class="text-center">Tôi tin tưởng vào sứ mệnh phi lợi nhuận của trang web này. Chúng ta cần hành động ngay để bảo vệ trái đất.</p>
                            <div class="d-flex">
                                <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                <div>
                                    <p class="fw-bold text-success mb-0">Thân Huy</p>
                                    <p class="text-muted mb-0">Người Dùng</p>
                                </div>
                            </div>
                            <div class="card border-0 shadow-none">
                                <div class="card-body d-flex align-items-center p-0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <p class="text-center">Tôi rất ấn tượng với dự án này. Chúng ta hãy cùng nhau bảo vệ môi trường cũng như môi trường sống của chúng ta!</p>
                            <div class="d-flex">
                                <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                <div>
                                    <p class="fw-bold text-success mb-0">Alex Nguyễn</p>
                                    <p class="text-muted mb-0">Nhà Sáng Tạo Nội Dung</p>
                                </div>
                            </div>
                            <div class="card border-0 shadow-none">
                                <div class="card-body d-flex align-items-center p-0"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <p class="text-center">Tôi thích cách trang web tập trung vào bảo vệ môi trường. Hy vọng dự án này sẽ lan tỏa tới nhiều nơi hơn.</p>
                            <div class="d-flex">
                                <img class="rounded-circle flex-shrink-0 me-3 fit-cover" width="50" height="50" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                                <div>
                                    <p class="fw-bold text-success mb-0">Xuân Thái</p>
                                    <p class="text-muted mb-0">Nhà Hảo Tâm</p>
                                </div>
                            </div>
                            <div class="card border-0 shadow-none">
                                <div class="card-body d-flex align-items-center p-0"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

</body>