@model website_projexts.Models.Update

<link href="~/Content/procreate.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@{
    ViewBag.Title = "UpdateCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="clean-block clean-form dark">
    <div class="container">
        <div class="block-heading" style="padding-top: 0px;">
            <h2 class="text-primary">Cập Nhật Dự Án @ViewBag.ProjectName</h2>
            <p></p>
        </div>
        @using (Html.BeginForm("UpdateCreate", "Update", FormMethod.Post, new { projectID = Model.ProjectID, @style = "max-width: 700px;", @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.ProjectID)
            @Html.ValidationSummary(true, "Đã xảy ra lỗi, xin thử lại!")
            <div class="form-group mb-3">
                <label class="form-label">Tên Cập Nhật</label>
                @Html.EditorFor(model => model.UpdateName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Dự án" } })
                @Html.ValidationMessageFor(model => model.UpdateName, "", new { @class = "text-danger" })
            </div>
            <div class="color form-group mb-3">
                <label class="form-label" style="margin-top: 15px;">Hình ảnh</label>
                <section>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xxl-12">
                                <div class="file-upload-wrapper">
                                    <div class="flex-wrap view file-upload" style="padding-bottom: 7px;padding-right: 4px;height: 302px;">
                                        <img class="w-100 img-fluid" style="height: 230px;object-fit: cover;" src="@Url.Content(Model.UpdateImage)" id="previewImg">
                                        <input class="form-control file_upload" type="file" id="input-file-now" name="UploadImage"
                                               onchange="ChangeImage(this, document.getElementById('previewImg'))">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Nội Dung Cập Nhật</label>
                @Html.TextAreaFor(model => model.UpdateText, new { @class = "form-control", @id = "summernote-1", @placeholder = "Thông tin", @style = "height: 30rem;" })
                @Html.ValidationMessageFor(model => model.UpdateText, "", new { @class = "text-danger" })
            </div>
            <hr style="margin-top: 30px;margin-bottom: 10px;">
            <div class="form-group mb-3">
                <input class="btn btn-primary d-block w-100" id="submitButton" type="submit" value="Cập Nhật">
            </div>
        }
    </div>
</section>
@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Update</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.UpdateText, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UpdateText, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UpdateText, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UpdateTime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UpdateTime, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UpdateTime, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UpdateImage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UpdateImage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UpdateImage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

