@using website_projexts.Models
@model List<Category>
<link href="~/Content/catelist.css" rel="stylesheet" />
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Model != null)
{
    <section class="portfolio-block projects-cards">
        <div class="container">
            <div class="heading">
                <h2>Các Danh Mục</h2>
            </div>
            <div class="row">
                @foreach (var cate in Model)
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="card border-0">
                            <a href="@Url.Action("ProjectList", "Project", new { selectedCategoryId = cate.CategoryID })">
                                <img class="card-img-top scale-on-hover" src="@Url.Content(cate.CategoryImage)" alt="Card Image">
                            </a>
                            <div class="card-body">
                                <h6><a href="#" style="text-decoration: none">@cate.CategoryName</a></h6>
                                <p class="text-muted card-text">@cate.CategoryDescription</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}



@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryImage)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryImage)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID })
            </td>
        </tr>
    }

    </table>*@
